<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>셰어하우스 우주(WOOZOO)</title>
   
    <link rel="stylesheet" type="text/css" href="/css/mysh3.css">
</head>

  <body>
 <th:block th:replace="layout/header"></th:block>
    <main id ="login__main">
      <section class="form">
        <div class="join__box">
          <div class="join__title"><b>내 월세를 아껴줄 </b></div>
          <div class="join__title2">
            <b> 셰어하우스 우주</b>
          </div>
          <form class="email__check">
          
            <div class="form__group">
              <input id="user_id" type="text" name="user_id" placeholder="user Id"
                class="text-input email-input" required>
              <span class="email-text">@</span>
              <input
                type="email" name="email_addr" class="text-input email-input"/><br />
         
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            </div>
           <div class ="form__group">
            <input id="user_password" type="password" placeholder="* 비밀번호 (8자리 이상)"
              class="text-input1" autocomplete="off" required>
            </div>
           
            <div id="btn__group">
               <button id="btn-login" type="button" >이 정보로 로그인</button>

               <button id="btn-join" type="button" >이 정보로 회원가입</button>           
            </div>
            </form>
          
          <div class="text__notice">
            <span style="color: black;"> SNS 로그인 서비스 운영을 중단</span
            >합니다
            <div>SNS 로그인 이용자는 '가입하셨던 이메일' 을 입력하여</div>
            <div>추가 로그인 정보를 등록 후 이용해주세요 (최초 1회 입력)</div>
          </div>
        </div>
      </section>
    </main>
    <script src="/js/login.js"></script>
  </body>
</html>
